:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.5;
    --text-color: #212529;
    --background-color: #fff;
    --footer-padding: var(--padding-y);
    --border-color: #dee2e6;
    --border-top-color: #007bff;
    --padding-x: 1rem;
    --padding-y: 1rem;
    --padding-large: 3rem;
    --bs-danger-text-emphasis: #58151c; /* Цвет текста для ошибочных сообщений */
    --bs-danger-bg-subtle: #f8d7da; /* Фон для ошибочных сообщений */
    --bs-danger-border-subtle: #f1aeb5; /* Граница для ошибочных сообщений */

    --bs-border-width: 1px;
    --bs-info-border-subtle: #9eeaf9;
    --bs-border-radius: 0.375rem;
    --bs-info-text-emphasis: #055160;
    --bs-info-bg-subtle: #cff4fc;
    --bs-info-text-emphasis: #055160;
    --bs-success-text-emphasis: #0a3622;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-success-border-subtle: #a3cfbb;
    --bs-success-text-emphasis: #0a3622;

    --bs-emphasis-color: #000;
    --bs-body-bg: #fff;
    --bs-border-color: #dee2e6;
    --bs-body-color: #212529;
}

/* Общие стили для body */
body {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    min-height: 100%; /* Минимальная высота на весь экран */
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--text-color); /* Цвет текста */
    background-color: var(--background-color); /* Цвет фона */
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
}

/* Основной контент */
main {
    flex-grow: 1; /* Основной контент занимает доступное пространство */
}

/* Футер */
footer {
    margin-top: auto; /* Отталкивает футер вниз */
    padding: var(--footer-padding); /* Отступы сверху и снизу */
    border-top: 1px solid var(--border-color); /* Граница сверху футера */
    text-align: center; /* Центрирование текста */
}

/* Стили для навигации */
.bg-dark {
    background-color: rgba(33, 37, 41, 1) !important; /* Цвет фона для .bg-dark */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.55); /* Цвет текста для навигации */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75); /* Цвет текста при наведении */
}

/* Стили для кнопки переключения */
.navbar-toggler {
    padding: 0.25rem 0.75rem; /* Отступы для кнопки переключения */
    font-size: 1.25rem; /* Размер шрифта для кнопки */
    border-color: rgba(255, 255, 255, 0.15); /* Цвет границы */
    border-radius: 0.375rem; /* Радиус границы */
}

.navbar-toggler:focus {
    box-shadow: 0 0.25rem 0.25rem rgba(13, 110, 253, 0.25); /* Эффект фокуса */
}

.px-3 {
    padding-right: var(--padding-x);
    padding-left: var(--padding-x);
}

.py-3 {
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
}

.border-top {
    border-top: 1px solid var(--border-color);
}

.border-top-custom {
    border-top: 2px solid var(--border-top-color); /* Толщина 2px, стиль solid, цвет #007bff */
}

.p-5 {
    padding: var(--padding-large);
}

.mx-auto {
    margin-top: 1rem;
}

.border {
    border: 1px solid var(--border-color);
}

.rounded-3 {
    border-radius: 0.5rem;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.container-lg {
    text-align: center left;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.alert {
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.alert-info {
    --bs-alert-color: var(--bs-info-text-emphasis);
    --bs-alert-bg: var(--bs-info-bg-subtle);
    --bs-alert-border-color: var(--bs-info-border-subtle);
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.alert-success {
    --bs-alert-color: var(--bs-success-text-emphasis);
    --bs-alert-bg: var(--bs-success-bg-subtle);
    --bs-alert-border-color: var(--bs-success-border-subtle);
    --bs-alert-link-color: var(--bs-success-text-emphasis);
}


* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

 /* url_detail styles */

.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}


.table-hover {
    white-space: nowrap !important;
}


table {
    caption-side: bottom;
    border-collapse: collapse;
    width: auto; /* Устанавливаем ширину таблицы на автоматическую */
    table-layout: auto; /* Позволяем браузеру автоматически определять ширину колонок */
}

.mt-3 {
    margin-top: 1rem !important;
    padding-right: calc(var(--bs-gutter-x)* .5);
    --bs-gutter-x: 1.5rem;
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.white-space {
    white-space: normal;
}

.margin-top {
    margin-top: 5rem;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.table th, .table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    padding: 12px;
}

.form-control {
    color: var(--bs-body-color);
}